#map { 
    height: 98vh;
    width: 99%; 
    border: 10px solid black;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
}

/* #map.over {
    background-color: white;
    border: 50px;
} */

#formSection {
    position: absolute;
    z-index: 2;
    background-color: rgba(0,0,0,0.7); /* Add this line for better visibility */
    color: white; /* Add this line for better visibility */
    padding: 10px; /* Add this line for better visibility */
    border-radius: 5px; /* Add this line for better visibility */
    margin-left: 10px;
    margin-top: 10px;
}
