.map-layers-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  z-index: 1001;
  background-color: var(--st-gray-90);
  transition: all 0.1s ease;

  margin-top: 4px;
  border-radius: 8px;
  margin-right: 4px;

  height: calc(100vh - 52px);

  &.closed {
    width: 0;
  }

  &.open {
    width: 300px;
  }

  .map-layers-list {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 12px;

    overflow-y: auto;
  }
}

.date-picker {
  .MuiInputAdornment-root {
    width: 65px !important;
  }
}
